In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', 10)
import datetime as dt
import os
import chardet
sns.set(rc={'figure.figsize':(15,10)})

In [2]:
def tb_crosstab_df(document):
   with open(document, 'rb') as f:
       result = chardet.detect(f.read())  #Detecta el tipo de caracteres utilizado en el archivo csv
   raw_data=pd.read_csv(document, encoding = result['encoding'], delimiter=','
                        , thousands='.',decimal=',',error_bad_lines=False) #Leer la data contenida en la tabla
   return raw_data
   
df = tb_crosstab_df('lic2020_hackaton.csv')
df = df[['Tipo de Adquisicion','Estado','NombreOrganismo','FechaPublicacion','NombreProveedor','Moneda de la Oferta','MontoLineaAdjudica','Oferta seleccionada']]

/var/folders/np/fx5p22zn5sz408mv0xn58xz40000gn/T/ipykernel_34932/3732662084.py:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  raw_data=pd.read_csv(document, encoding = result['encoding'], delimiter=','

In [3]:
df['FechaPublicacion']=pd.to_datetime(df['FechaPublicacion'], dayfirst=True)

In [6]:
pivot1 = pd.pivot_table(df, index=['NombreProveedor'],columns=['Estado'],values=['Oferta seleccionada'],aggfunc='count')
pivot1.sort_index

                                  Oferta seleccionada          \
Estado                                     Adjudicada Cerrada
NombreProveedor
\tKARLA ALEJANDRA GONZALEZ PARRA                  2.0     NaN
                                                  2.0     NaN
   ´´ marod ´´                                    3.0     NaN
  Ciro  Esteban                                   1.0     NaN
 ABATTE OFFICITY                                132.0     NaN
...                                               ...     ...
ÓPTICA WEITZEL                                    NaN     NaN
Óptica Harter                                     1.0     NaN
Úrsula Adela                                      1.0     NaN
ágora diseño                                     22.0     1.0
ñañai                                             1.0     NaN

                                                                               \
Estado                            Desierta (o art. 3 ó 9 Ley 19.886) Revocada
NombreProveedor
\tKARLA ALEJANDRA GONZALEZ PARRA                                 NaN      NaN
                                                                 NaN      NaN
   ´´ marod ´´                                                   NaN      NaN
  Ciro  Esteban                                                  NaN      NaN
 ABATTE OFFICITY                                                 4.0      2.0
...                                                              ...      ...
ÓPTICA WEITZEL                                                   1.0      NaN
Óptica Harter                                                    NaN      NaN
Úrsula Adela                                                     NaN      NaN
ágora diseño                                                     3.0      1.0
ñañai                                                            NaN      NaN


Estado                            Suspendida
NombreProveedor
\tKARLA ALEJANDRA GONZALEZ PARRA         NaN
                                         NaN
   ´´ marod ´´                           NaN
  Ciro  Esteban                          NaN
 ABATTE OFFICITY                         NaN
...                                      ...
ÓPTICA WEITZEL                           NaN
Óptica Harter                            NaN
Úrsula Adela                             NaN
ágora diseño                             NaN
ñañai                                    NaN

[38662 rows x 5 columns]

In [4]:
df_seleccionada = df[df['Oferta seleccionada'] == 'Seleccionada']
df_seleccionada = df_seleccionada.astype({"MontoLineaAdjudica": str})
df_seleccionada = df_seleccionada[df_seleccionada['MontoLineaAdjudica'].str.contains('e') == False]
df_seleccionada = df_seleccionada.astype({"MontoLineaAdjudica": float})

In [5]:
df11 = df_seleccionada['FechaPublicacion'].dt.date.value_counts().sort_index().reset_index()
df11.columns=['Fecha Publicación','Nro de Lic. Adjudicadas']
df11

    Fecha Publicación  Nro de Lic. Adjudicadas
0          2020-01-01                       16
1          2020-01-02                     1272
2          2020-01-03                     1548
3          2020-01-04                       17
4          2020-01-05                      205
..                ...                      ...
348        2020-12-26                        1
349        2020-12-28                      781
350        2020-12-29                      658
351        2020-12-30                      799
352        2020-12-31                      576

[353 rows x 2 columns]

In [ ]:
#barplot apertura x divisa
df_seleccionada.plot.bar(x)
#gráfico conteo de lic x día

In [ ]:
df2 = df.groupby(['Tipo de Adquisicion'])['Tipo de Adquisicion'].count()
df2

In [50]:
sns.histplot(df_seleccionada['MontoLineaAdjudica'], bins=30);

#

:

:

In [38]:
df = df.astype({"MontoLineaAdjudica": float})
df.info()

ValueError: could not convert string to float: '9,5e+07'

In [33]:
pivot = pd.pivot_table(df, index=['NombreOrganismo','NombreProveedor'],values=['Oferta seleccionada'],aggfunc='count')
pivot

                                                                                                      Oferta seleccionada
NombreOrganismo                                    NombreProveedor
AGENCIA CHILENA DE COOPERACION INTERNACIONAL PA... ARTL CHILE AUDITORES SPA                                             1
                                                   AdjudicaChile Consultora en Licitaciones Públicas                    1
                                                   Aiguasol                                                             2
                                                   Amelia Virginia                                                      1
                                                   Astral S.A.                                                          1
...                                                                                                                   ...
Universidad de O Higgins                           e-Business Distribution S.A.                                         8
                                                   ingenieria maitenes spa                                             16
                                                   patriciosotoayciasltda                                               1
                                                   screwair                                                             1
                                                   winkler limitada                                                    44

[213938 rows x 1 columns]

In [19]:
df2 = df.groupby(['Estado'])['Estado'].count()
df2 = df2.sort_values('Estado', ascending=False)
df2

Estado
Adjudicada                            1735539
Cerrada                                 34118
Desierta (o art. 3 ó 9 Ley 19.886)      78731
Revocada                                34515
Suspendida                                 77
Name: Estado, dtype: int64

In [16]:
df2 = df.groupby(['Tipo de Adquisicion'])['Tipo de Adquisicion'].count()
df2

Tipo de Adquisicion
Licitación Privada MOP (O2)                                        19
Licitación Privada Mayor a 1000 UTM                               136
Licitación Privada Mayor a 5000 (I2)                               40
Licitación Privada Menor a 100 UTM.                               429
Licitación Privada entre 100 y 1000 UTM.                          696
Licitación Privada entre a 2000 y 5000 UTM (H2)                   132
Licitación Pública Entre 100 y 1000 UTM (LE)                   852805
Licitación Pública MOP (O1)                                      9523
Licitación Pública Mayor 1000 UTM (LP)                         109004
Licitación Pública Mayor a 5000 (LR)                           104263
Licitación Pública Menor a 100 UTM (L1)                        660672
Licitación Pública Servicios personales especializados (LS)       113
Licitación Pública entre a 2000 y 5000 UTM (LQ)                145148
Name: Tipo de Adquisicion, dtype: int64

In [31]:
df2 = df.groupby(['NombreOrganismo','NombreProveedor'])['Estado'].count()
df2

,NombreOrganismo,NombreProveedor,Codigo,Tipo de Adquisicion,Estado,CodigoOrganismo,RutUnidad,ComunaUnidad,FechaPublicacion,CodigoProductoONU,RutProveedor,Moneda de la Oferta,MontoLineaAdjudica,Oferta seleccionada
0,AGENCIA CHILENA DE COOPERACION INTERNACIONAL P...,ARTL CHILE AUDITORES SPA,1,1,1,1,1,1,1,1,1,1,1,1
1,AGENCIA CHILENA DE COOPERACION INTERNACIONAL P...,AdjudicaChile Consultora en Licitaciones Públicas,1,1,1,1,1,1,1,1,1,1,1,1
2,AGENCIA CHILENA DE COOPERACION INTERNACIONAL P...,Aiguasol,2,2,2,2,2,2,2,2,2,2,2,2
3,AGENCIA CHILENA DE COOPERACION INTERNACIONAL P...,Amelia Virginia,1,1,1,1,1,1,1,1,1,1,1,1
4,AGENCIA CHILENA DE COOPERACION INTERNACIONAL P...,Astral S.A.,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213933,Universidad de O Higgins,e-Business Distribution S.A.,8,8,8,8,8,8,8,8,8,8,8,8
213934,Universidad de O Higgins,ingenieria maitenes spa,16,16,16,16,16,16,16,16,16,16,16,16
213935,Universidad de O Higgins,patriciosotoayciasltda,1,1,1,1,1,1,1,1,1,1,1,1
213936,Universidad de O Higgins,screwair,1,1,1,1,1,1,1,1,1,1,1,1
213937,Universidad de O Higgins,winkler limitada,44,44,44,44,44,44,44,44,44,44,44,44

In [ ]:
dfdf = df.groupby([''])