### Ejercicio 1

In [1]:
import sqlite3
import pandas as pd

## extract

def extract():
    conn = sqlite3.connect("data/chinook.db")
    data = pd.read_sql("SELECT * FROM invoices i JOIN customers c ON i.CustomerId = c.CustomerId", conn)
    conn.close()
    
    return data

In [2]:
## transform

def transform(data):
    data['Total'] = data['Total'] * 920
    data = data[['InvoiceId', 'Total', 'FirstName']]
    
    return data

In [3]:
import time

## load to

def load_csv(data, filename):
    data.to_csv(filename)
    
def load_sql(data):
    conn = sqlite3.connect("data/ventas.db")
    data.to_sql("ventas", conn, index=False, if_exists='fail')
    conn.close()
    
def load_sql_insert(data):
    conn = sqlite3.connect("data/ventas_insert.db")
    cur = conn.cursor()
    
    try:
        cur.execute("""
        CREATE TABLE IF NOT EXISTS ventas (
            invoiceid INTEGER PRIMARY KEY,
            total REAL,
            name TEXT
        )
        """)
        
        for index, row in data.iterrows():
            print(index)
            insert_stmt = "INSERT INTO ventas (invoiceid, total, name) VALUES (?, ?, ?)"
            d = [row['InvoiceId'], row['Total'], row['FirstName']]
            cur.execute(insert_stmt, d)
            conn.commit()
    except e:
        print('Error')
    finally:
        conn.close()

In [4]:
from datetime import datetime

def log(message):
    timestamp_format = "%Y-%m-%d %H:%M:%S"
    now = datetime.now()
    timestamp = now.strftime(timestamp_format)
    with open('logfile.txt', 'a') as f:
        f.write(message + ' ' + timestamp + '\n')
        print(message + ' ' + timestamp)

In [5]:
## main
log("ETL iniciado")

log("extraccion iniciada")
data = extract()
log("extraccion finalizada")

log("transformacion iniciada")
data = transform(data)
log("transformacion finalizada")

log("carga iniciada")
load_sql_insert(data)
log("carga finalizada")

log("ETL finalizado")

ETL iniciado 2023-01-05 01:06:06
extraccion iniciada 2023-01-05 01:06:06
extraccion finalizada 2023-01-05 01:06:06
transformacion iniciada 2023-01-05 01:06:06
transformacion finalizada 2023-01-05 01:06:06
carga iniciada 2023-01-05 01:06:06
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
carga finalizada 2023-01-05 01:06:06
ETL finalizado 2023-01-05 01:06:06

In [6]:
## check table

conn = sqlite3.connect("data/ventas_insert.db")
pd.read_sql("SELECT * FROM ventas", conn)

     invoiceid    total      name
0            1   1821.6    Leonie
1            2   3643.2     Bjørn
2            3   5464.8      Daan
3            4   8197.2      Mark
4            5  12751.2      John
..         ...      ...       ...
407        408   3643.2    Victor
408        409   5464.8    Robert
409        410   8197.2  Madalena
410        411  12751.2     Terhi
411        412   1830.8     Manoj

[412 rows x 3 columns]

### Ejercicio 2

Cree un proceso ETL que:
- Extraer el id de invoice, total de ventas y la cantidad de tracks vendidos en esas ventas
- Transfomar los datos incluyendo el precio promedio por track (Total/cantidad de tracks)
- Cargar los datos transformados en la tabla ventas_tracks en la base de datos ventas del ejercicio anterior

In [7]:
def extract():
    conn = sqlite3.connect("data/chinook.db")
    data = pd.read_sql("""
    
    ...
    
    """, conn)
    conn.close()
    
    return data

In [8]:
def transform(data):
    
    ...
    
    return data

In [9]:
def load_sql(data):
    conn = sqlite3.connect("data/ventas.db")
    
    ...
    
    conn.close()

In [10]:
## main
log("ETL iniciado")

log("extraccion iniciada")
data = extract()
log("extraccion finalizada")

log("transformacion iniciada")
data = transform(data)
log("transformacion finalizada")

log("carga iniciada")
load_sql(data)
log("carga finalizada")

log("ETL finalizado")

ETL iniciado 2023-01-05 01:06:07
extraccion iniciada 2023-01-05 01:06:07

DatabaseError: Execution failed on sql '

    ...

    ': near ".": syntax error

In [ ]:
## check table

conn = sqlite3.connect("data/ventas.db")
pd.read_sql("SELECT * FROM ventas_tracks", conn)